.work-item {
  width: 100%;
}

.track:hover {
  color:rgb(238, 4, 4);
}

.track .play {
  display: none;
} 

.track:hover .play {
  display: inline;
  transition: 0.5s;
}



.transition-red-btn:hover {
  color:rgb(238, 4, 4);
  transition: 0.3s;
}

