.sideman-card {
  background-color: rgba(134, 180, 183, 0.5);
  border-radius: 0.3rem;
  width: 45rem;
}

.sideman-input-name {
  background-color: rgba(2,2,2,0.4);
  border: none;
  color: white;
  font-family: 'Zen Dots', cursive;
  width: 10rem;
}

.form-input-icon {
  background-color: white;
}

.form-button {
  font-family: 'Zen Dots', cursive;
}