.form-card {
  background-color: rgba(2,2,2,0.5);
  border-radius: 0.3rem;
  width: 45rem;
}

.form-input-logo {
  background-color: rgba(2,2,2,0.4);
  border: none;
  color: white;
  font-family: 'Zen Dots', cursive;
  width: 7rem;
}

.form-input-icon {
  background-color: white;
}

.form-button {
  font-family: 'Zen Dots', cursive;
}